* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
body {
  font-family: sans-serif;
}

.bold {
  font-weight: 800;
}

.nutrition-label {
  width: 270px;
  margin: 20px auto;
  border: 2px solid black;
  padding: 0 4px;
}

header h1 {
  letter-spacing: 0.15px;
  margin: 0;
}

hr {
  margin: 2px 0;
}

p,
.calorie-intake h1{
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.large {
  height: 10px;
}
.medium {
  height: 6px;
}

.large, .medium {
  background-color: black;
  border: none;
}


.small {
  font-size: 13px;
}

.right {
  justify-content: flex-end;
}

.italic {
  font-style: italic;
  padding-left: 12px;
  letter-spacing: 0.5px;
}

.not-italic {
  font-style: normal;
}

sup {
  font-size: medium;
  margin-left: 2px;
}
